body{
   
    background-image: url(festive-young-friends-having-fun-with-confetti.jpg);
    background-size: cover;
}

.container{
    min-height: 100vh;
    background: rgb(185, 84, 84);
    display: flex;
    justify-content: center;
    align-items: center;
    background: url();
    
   
}
.contact {
    width: 670px;
    height: 440px;
    background:rgba(0, 0, 0, 0.1);;
    display: flex;
    flex-direction: column;
    left: 50%;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    margin: left 5%;
    backdrop-filter: blur(5px);
}

.container h6{
    color: rgb(251, 251, 251);
    font-size: large;
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 0px;
}


.container form{
    width: 670px;
    height: 500px;
    display: flex;
    justify-content: center;
    box-shadow: 0.2px;
    border-radius: 30px;
    background:rgba(0, 0, 0, 0.2);
    flex-wrap: wrap;
    backdrop-filter: blur(5px);
}

.container form h1{
    color: rgb(251, 251, 251);
    font-weight: 500;
    margin-top: 20px;
    width: 500px;
    text-align: center;
}

.container form input{
    width: 290px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid #fff;
}

.container form input::placeholder{
    color: #ddd;
}

.container form #LastName,
.container form #PhoneNumber{
    margin-left: 20px;
}

.container form h4{
color: #fff;
font-weight: 300;
width: 600px;
margin-top: 20px;

}

.container form textarea{
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    outline: none;
    min-width: 600px;
    max-width: 600px;
    min-height: 80px;
    max-height: 80px;
}

textarea::-webkit-scrollbar{
    width: 1cm;
}

textarea::-webkit-scrollbar-thumb{
    background-color:  rgba(155, 99, 99, 0.7);;
}

.container form #button{
    border: none;
    background: #fff;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #333;
    width: 100px;
    padding: 0;
    margin-right: 500px;
    margin-bottom: 30px;
    transition: 0.3s;
}