
body {
    background-image: url(happy-people-celebrating-having-fun.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
}

.register-container {
    background-color: rgba(0, 0, 0, 0.5);
    width: 500px;
    border-radius: 12px;
    padding: 30px 40px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    
}

.register-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color: white;

}

.register-container form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
    box-shadow: #ffffff;
    color: white;
}

.form-group label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;

}

.form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: #ffffff;
    font-size: 16px;
    box-shadow: #ffffff;
}

.form-group input:focus {
    outline: black;
    border: 1px solid #81d4fa;
}

.register-btn {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #a7c84e;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register-btn:hover {
    background-color: #defb8f;
}

.login-link {
    margin-top: 20px;
    font-size: 14px;
    color: white;
}

.login-link a {
    color: #81d4fa;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
